@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
.logo-menu{
  width: 2000px;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-left: 500px;
    margin-top: -480px;
}

.subject{
    margin-left: 10%;
  }
.subject1{
    margin-left: 55%;
    margin-top: -100px;
    padding: 10px;
}
.subject1 h3 {
  color: #333;
  font-size:  28px;
  margin-top: -30px;
  margin-left: 60px;
}

.subject h3{
    color: #333;
    font-size:  28px;
    margin-top: -30px;
    margin-left: 60px;
}
.btn-prof a{
  width: 225px;
  position: absolute;
  color: white;
  background: #007bff;
  padding: 15px 20px 15px;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 480px;
  margin-top: -5px;
}
.btn-prof i{
  margin-left: 15px;
}
.btn-sobre i{
  margin-left: 15px;
}
.txt-p {
  font-size: 20px;
  margin-top: -40px;
  margin-left: 470px;
}

@media screen and (min-width: 64em) {
  .btn-prof a{
    width: 225px;
    position: absolute;
    color: white;
    background: #007bff;
    padding: 15px 20px 15px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 37%;
    margin-top: -5px;
  }
  .btn-prof i{
    margin-left: 15px;
  }
  .btn-sobre{
    margin-left: 22%;
  }
  .btn-sobre i{
    margin-left: 15px;
  }
  .txt-p {
    margin-top: -40px;
    margin-left: 37%;
  }
  .img-sobre {
    margin-left: 50%;
  }
.container {
    width: 550px;
    display: flex;
    flex-direction: column; 
    align-items: left; 
    justify-content: left; 
    padding: 30px 30%; 
    margin-left: 32%;
}
.container h1{
  width: 150px;
  height: 50px;
  margin-bottom: 15px; 
  text-align: left; 
  width: 100%; 
  margin-left: 10%;
}
.container div { 
    width: 150px;
    height: 50px;
    margin-bottom: 15px; 
    text-align: left; 
    width: 100%; 
    margin-left: 32%;
}
.container p {
    width: 450px; 
    height: 200px;
    margin-left: 10%;
}
.btn-sobre {
  top: -50%;
  width: 160px;
  height: 45px;
  padding: 10px 20px;
  margin: 0 10%;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}
.btn-sobre:hover {
  background-color: #0056b3;
}
.img-sobre {
  width: 490px;
  height: 320px;
  margin-left: 60%;
  margin-top: -329px;
}
      /* FIM TEXTO SOBRE */

.img-licao {
    width: 220px;
    margin-left: -97%;
    margin-top: 600px;
}
.container1 {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    justify-content: left; 
    padding: 30px 30%; 
    margin: 30px; 
    margin-top: -570px;
}
}

 /* FOOTER */

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

main {
    height: 220px;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #007bff;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

  /* FIM FOOTER */

   /* MENU */
.header {
  display: flex;
  height: 85px;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.9);
  position: fixed;
  top:0;
  left:0;  
  width: 100%;
  z-index:1;
  float:left; 

}

.header ul {
  
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;

}

.header li a {

  display: block;
  padding: 0.7em 0.5em;
  text-decoration: none;
  transition:.3s;
  border-bottom: 1px #f7f7f7 solid;
  color:#242424;  

}

.header li a:hover,
.header .btn-mobile:hover {

  color: #007bff; 

}

.header  {
 
  display: block;
  float: left;

}


.header .nav {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


/* menu icon */

.header .mobile-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .mobile-icon .hamburguer {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .mobile-icon .hamburguer:before,
.header .mobile-icon .hamburguer:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .mobile-icon .hamburguer:before {
  top: 5px;
}

.header .mobile-icon .hamburguer:after {
  top: -5px;
}

/* menu btn */

.header .mobile-btn {
  display: none;
}

.header .mobile-btn:checked ~ .nav {
  max-height: 240px;
}

.header .mobile-btn:checked ~ .mobile-icon .hamburguer {
  background: transparent;
}

.header .mobile-btn:checked ~ .mobile-icon .hamburguer:before {
  transform: rotate(-45deg);
}

.header .mobile-btn:checked ~ .mobile-icon .hamburguer:after {
  transform: rotate(45deg);
}

.header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburguer:before,
.header .mobile-btn:checked ~ .mobile-icon:not(.steps) .hamburguer:after {
  top: 0;
}

.container {

  width:100%;
  float:left;
  margin-top:100px;    

}

.content { 

  float:left; 
  width:92%; 
  margin:0 4%;  
 
}


/* 48em = 768px */

@media (min-width: 48em) {
  
  .header li { float:left; }
  
  .header li a {
    
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 6px;
  
  }

  .header .nav {
    clear: none;
    float: right;
    max-height: none;
  }
  
  .header .mobile-icon { display:none; }

  .header li a {
    transition:.3s;
    border-bottom:0; 
  
  }

}
   /* FIM MENU */
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    font-style: "Poppins";
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
.nav-bg.active {
    display: block;
  }
}
.carousel-inner {
  margin: 82px 0 0;
  height: 100%;
    }

.carousel-item {
  color: white;
  text-align: center; 
    }

.carousel-item img {
  max-height: 100%; 
  margin: auto; 
}
.carousel-control-prev, .carousel-control-next {
  color: white;
}

.carousel-indicators .active {
  background-color: white; 
  border-color: white;
}


      /* TESTE TEXTO SOBRE */

.container {
    width: 550px;
    display: flex;
    flex-direction: column; 
    align-items: left; 
    justify-content: left; 
    padding: 30px 30%; 
    margin-left: 32%;
}
.container h1{
  width: 150px;
  height: 50px;
  margin-bottom: 15px; 
  text-align: left; 
  width: 100%; 
  margin-left: 10%;
}
.container div { 
    width: 150px;
    height: 50px;
    margin-bottom: 15px; 
    text-align: left; 
    width: 100%; 
    margin-left: 32%;
}
.container p {
    width: 450px; 
    height: 200px;
    margin-left: 10%;
}
.btn-sobre {
  width: 160px;
  height: 45px;
  padding: 10px 20px;
  margin: 0 10%;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}
.btn-sobre:hover {
  background-color: #0056b3;
}
.img-sobre {
  width: 490px;
  height: 320px;
  margin-left: 60%;
  margin-top: -329px;
}
      /* FIM TEXTO SOBRE */

.img-licao {
    width: 220px;
    margin-left: -67%;
    margin-top: 600px;
}
.container1 {
    display: flex;
    flex-direction: column; 
    align-items: left; 
    justify-content: left; 
    padding: 30px 30%; 
    margin: 30px; 
    margin-top: -570px;
}

@media screen and (max-width: 48em){

  .subject{
    margin-left: -50%;
  }
  .img-sobre {
    display: none;
  }
  .img-licao {
    display: none;
  }
  .btn-sobre {
    width: 160px;
    height: 45px;
    padding: 10px 20px;
    margin: 0 140px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
  }

.btn-sobre:hover {
    background-color: #0056b3;
  }
  .container{
    width: 22%;
  }
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin-top: 580px;
}
.btn-prof a{
  width: 225px;
  position: absolute;
  color: white;
  background: #007bff;
  padding: 20px 20px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  margin: 0 170px;
}
.btn-prof i {
  margin-left: 5px;
}
.txt-p {
  display: none;
}
.container-licao {
  margin-left: 50px;
}
.txt1{
  font-size: 20px;
}
}